<p id="notice"><%= notice %></p>

<p>
  <strong>Cover letter:</strong>
  <%= @upload_file.cover_letter %>
</p>

<p>
  <strong>Title:</strong>
  <%= @upload_file.title %>
</p>

<%= link_to 'Edit', edit_upload_file_path(@upload_file) %> |
<%= link_to 'Back', upload_files_path %>
