<div class = 'institute'>
  <h1 class="name-link">ИНСТИТУТЫ</h1>
  <p id="notice"><%= notice %></p>

  <table class = "table-grid">
    <thead class="thead">
    <tr class="thead_tr">
      <th class="thead_th">Название</th>
      <!--<th>Описание</th>-->
      <th class="thead_th">Полное название</th>
      <th class="thead_th" colspan="2"></th>
    </tr>
    </thead>

    <tbody class="tbody">
    <% @institutes.each do |institute| %>
      <tr class="tbody_tr">
        <td class="tbody_td"><%= link_to institute.name, institute %></td>
        <!--<td><%= institute.description %></td>-->
        <td class="tbody_td"><%= institute.full_name %></td>
        <td class="tbody_td">
        <% if current_user.is_admin? %>
          <td class="tbody_td"><%= link_to 'Редактировать', edit_institute_path(institute) %></td>
          <td class="tbody_td"><%= link_to 'Удалить', institute, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <div class="add-institute">
    <% if current_user.is_admin? %>
      <%= link_to 'Добавить институт', new_institute_path %>
    <% end %>
  </div>
</div>
<footer class='footer'>
  <p>Copyright © A.Eminov (EAD) 2018 Все права защищены</p>
</footer>