<div class="content">

  <h1 class="name-link"><%= @speciality.name %></h1>

  <p id="notice"><%= notice %></p>

  <div class="user_info">
    <div class="aside">
      <div class="container-for-links">
        <h2 class="header-user">Предметы:</h2>
        <% unless @speciality.disciplines.empty? %>
          <% @speciality.disciplines.each do |discipline| %>
            <p class="link">
              <%= link_to discipline.name, disciplines_path %>
            </p>
          <% end %>
        <% end %>
        <p class="link">
          <%= link_to 'К списку специальностей', specialities_path %>
        </p>
      </div>
    </div>
    <div class="text">

      <% unless @speciality.groups.empty? %>
        <% @speciality.groups.each do |group| %>
          <p class="link">
            <strong>Группы:</strong>
            <%= link_to group.name, group %>
          </p>
        <% end %>
      <% end %>

      <p class="link">
        <strong>Код специальности:</strong> <%= @speciality.code %>
      </p>

      <% unless @speciality.department.nil? %>
        <p class="link">
          <strong>Кафедра:</strong>
          <%= link_to @speciality.department.name, @speciality.department%>
        </p>
      <% end %>
    </div>
  </div>

<% if current_user.is_admin? %>
    <p class="for-admin">
      <%= link_to 'Редактировать', edit_speciality_path(@speciality), class: 'link' %>
    </p>
<% end %>
</div>


<footer class='footer'>
  <p>Copyright © A.Eminov (EAD) 2018 Все права защищены</p>
</footer>
